@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: Retro;
    src: url('/JavaFullStack/Modulo2/Proyecto-Modulo-2/fonts/pixel-game-font/PixelGame-R9AZe.otf') format('opentype');
}


@view-transition{
    navigation:auto;
    
}

::view-transition-old(root),
::view-transition-new(root){
    animation-duration: 0.5s;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:#050801;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.borde{
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, #832eff, #fe4ff2);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
}


.autor {
    margin-top: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.autor2{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.autor h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 23.6px;
    line-height: 23px;
    color: rgb(255, 255, 255);

}

/*icono de sonido*/
button#playMusic{
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}


.sound{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url('../images/encendido.png');
    background-size: cover;
    background-position: center;
    transition: background-img 0.3s ease;
 
    
}

.logo{
    
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 41.0938px;
    height: 41.0938px;
    margin-right: 20px;

    
}

/* Container */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5.3rem;
    flex-wrap: wrap; /* Permite que el contenido se ajuste */
    margin-bottom: 11.3rem;
}


.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-neon {
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-neon h2 {
    margin: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 0 0 5px #b9bcbe,
                 0 0 10px #b9bcbe,
                 0 0 30px #b9bcbe,
                 0 0 50px #b9bcbe,
                 0 0 70px #b9bcbe;
    white-space: normal;
    word-wrap: break-word;
}


.subtitle h2 {
    margin-top: 5rem;
    color: #c71585;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 0 5px #81528e,
                 0 0 10px #81528e,
                 0 0 30px #81528e,
                 0 0 50px #81528e,
                 0 0 700px #81528e;
}

/* Gif */
.game {
    display: flex;
    flex-direction: column; /* Para apilar los GIFs verticalmente */
    align-items: center; /* Centra los GIFs horizontalmente */
}

.gif {
    display: block;
    direction: ltr;
    height: auto;
}

.gif img {
    margin-top: 5rem;

    /* Hace que el GIF se ajuste al contenedor */
    /* Mantiene la proporción de la imagen */
}

.gif .mod1 {
   width: 223.438px; /* Ajusta el tamaño del primer GIF */
   height: 236.453px; /* Mantiene la proporción */
}

.gif .mod2 {
   height: 257.719px; /* Ajusta el tamaño del segundo GIF, más pequeño */
   width: 257.719px; /* Mantiene la proporción */

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.wrapper a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #8f2295;
    font-size: 1.5rem;
    transition: .5s;
    overflow: hidden;
}

.wrapper a:hover {
    background-color: #ac46a5;
    color: #050801;
    box-shadow: 0 0 5px #9d40d7,
                0 0 25px #d74edc,
                0 0 50px #c743db,
                0 0 300px #a545a2;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* Efecto de borde animado para los enlaces */
.wrapper span {
    position: absolute;
    display: block;
}

.wrapper span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #b84cbc);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.wrapper a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #b84cbc);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}

.wrapper a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #b84cbc);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    100% {
        right: 100%;
    }
}

.wrapper a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #b84cbc);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    }
}

@media (max-width: 830px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .container {
        display: flex;
        flex-direction: column; /* Cambiado para apilar elementos en pantallas pequeñas */
        justify-content: center; /* Centra los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        margin-top: 9rem;
        margin-bottom: 0;
    }

    .subtitle {
        margin-top: 0;
    }

    .title-neon h2 {
        margin-left: 0;
        font-size: 3em; /* Ajusta el tamaño para pantallas más pequeñas */
    }

    .autor h1 {
        font-size: 20px; /* Ajusta el tamaño del autor para pantallas pequeñas */
    }

    .wrapper a {
        font-size: 1.2rem; /* Ajusta el tamaño del botón para pantallas pequeñas */
        padding: 20px; /* Ajusta el padding para pantallas pequeñas */
    }

    .gif .mod1,
    .gif .mod2 {
        margin-top: 5rem;
        height: 190px;
        width: 190px;
    }   

    .gif{
        display: flex;
    }
    
    .wrapper{
        margin-bottom: 10rem;
        
    }

    .wrapper a{
    background-color: #ac46a5;
    color: #050801;
    box-shadow: 0 0 5px #9d40d7,
                0 0 25px #d74edc,
                0 0 50px #c743db,
                0 0 300px #a545a2;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
}


/*CSS Pagina 2*/

/*Tabla*/
.tabla{
   
    width: 1200px;
    height: 505px;
    border-radius: 15px;
    background-color: white;
    border: 10px solid #b84cbc;
    overflow: auto;
}

#tb{
    width: auto;
    border-collapse:collapse;
}

#tb td{
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    height: 5px;
    min-width: 5px;
}

#tb td.selected{
    background-color: #b84cbc;
    color: white;
}

#tb td:hover{
    transition: all 0s;
    background-color: #ac46a5;
}


.menu {
    height: 500px;
    width: 300px;
    border-radius: 5px;
    border: 6px solid #b84cbc;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Centra los elementos horizontalmente */
}

.menu h1{
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    margin-bottom: 1rem;
}

.custom-select-menu {
    position: relative;
    width: 250px;
}

/* Caja principal */
.select-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    color: #050801;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.selected-option{
    font-family: 'Nunito', sans-serif; /* Cambia la fuente */
    font-size: 1.2em; /* Cambia el tamaño de la fuente */
    color: #3f0c0c; /* Cambia el color */
    background-color: white;
}

.select-box::before {
    content: '';
    position: absolute;
    top: -5px; /* Ajusta el espacio del borde superior */
    left: -5px; /* Ajusta el espacio del borde izquierdo */
    right: -5px; /* Ajusta el espacio del borde derecho */
    bottom: -5px; /* Ajusta el espacio del borde inferior */
    border-radius: 10px; /* Bordes redondeados */
    background-color: transparent; /* Fondo del borde */
    box-shadow: 0 0 5px #9d40d7,
                0 0 25px #d74edc;
    z-index: -1; /* Asegúrate de que esté detrás del botón */
}

.select-box:hover {
    color: #3f0c0c; /* Cambia el color del texto al pasar el ratón */
}

/* Icono */
.select-box i {
    margin-left: 10px;
}

/* Caja de opciones */
.options {
    position: absolute;
    margin-top: 1rem;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 2px #9d40d7;
    max-height: 0; /* Colapsado inicialmente */
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 10;
}

.options.open {
    max-height: 250px; /* Define un alto suficiente para que las opciones sean visibles */
    transition: max-height 0.4s ease;

}

.option {
    font-family: 'Nunito', sans-serif; /* Cambia la fuente */
    font-size: 1em; /* Cambia el tamaño de la fuente */
    color: #050801; /* Color de texto de las opciones */
    padding: 10px; /* Espaciado dentro de la opción */
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #d74edc;
    color: #fff;
}


/*Seccion que ejecuta el juego*/
.ejecutar-h1{
    margin-top: 2.5rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.checkbox {
    display: none;
    /* Ocultar el checkbox real */
}

.checkbox-label {
    position: relative;
    padding-left: 30px;
    /* Espacio para el cuadrado */
    cursor: pointer;
    font-size: 1rem;
    /* Cambia el tamaño de la fuente si lo deseas */
}

.checkbox-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    /* Ancho del cuadrado */
    height: 30px;
    /* Altura del cuadrado */
    /* border: 2px solid #c71585; */
    box-shadow: 0 0 5px #9d40d7,
                0 0 25px #d74edc;
    /* Color del borde */
    border-radius: 4px;
    /* Esquinas redondeadas */
    background-color: white;
    /* Color de fondo */
}

.checkbox:checked+.checkbox-label::before {
    background-color: #d74edc;
    /* Color de fondo cuando está marcado */
    border-color: #d74edc;
    /* Color del borde cuando está marcado */
}

.checkbox:checked+.checkbox-label::after {
    content: '✓';
    /* Marca de verificación */
    position: absolute;
    left: 6px;
    /* Ajusta la posición horizontal de la marca */
    top: -2px;
    /* Ajusta la posición vertical de la marca */
    color: white;
    /* Color de la marca de verificación */
    font-size: 23px;
    /* Tamaño de la marca de verificación */

}

.options-container{
    
    margin-left: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-options{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: none;
    border-color: #d74edc;
    box-shadow: 0 0 5px #9d40d7,
                0 0 25px #d74edc;
    cursor: pointer;
    color: #d74edc;
    text-shadow: 0 0 5px #d74edc;
 
}

.repo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands{
    margin-left: 15px;
    font-size: 1.5rem;
}

/**/

.container-explain{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.7rem;
    margin-left: 36rem;
}

.min-margin{
    margin-top: 0;
}

/*Input rango*/
.container-explain h2{
    margin-left: 30px;
    font-size: 1.4em;
    color: white;
    font-family: 'Nunito', sans-serif; /* Cambia la fuente */
    text-shadow: 0 0 10px #d74edc;
    
}


.middle {
    margin-left: 100px;
	width: 50%;
	max-width: 250px;

}
.slider-container {
	position: relative;
}
.slider-container .bar {
	position: absolute;
	z-index: 1;
	left: 2px;
	top: 7px;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background-color: #d74edc;
	overflow: hidden;
}
.slider-container .bar .fill {
	display: block;
	width: 0;
	height: 100%;
	background-color: #6200ee;
}
.slider-container .slider {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
}
.slider-container .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	background-color: #6200ee;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 0 rgba(184,76,188,.1);
	transition: .3s ease-in-out;
}
.slider-container .slider::-webkit-slider-thumb:hover {
	box-shadow: 0 0 0 10px rgba(184,76,188,.1);
}
.slider-container .slider:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 25px rgba(184,76,188,.2);
}

