@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
}

header {
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, #832eff, #fe4ff2);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
}

.autor {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.autor h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 23.6px;
    line-height: 23px;
    color: rgb(255, 255, 255);
}

.logo img {
    width: 41.0938px;
    height: 41.0938px;
    margin-right: 20px;
}

/* Container */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8rem;
    flex-wrap: wrap; /* Permite que el contenido se ajuste */
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-neon {
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-neon h2 {
    margin: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 0 0 5px #b9bcbe,
                 0 0 10px #b9bcbe,
                 0 0 30px #b9bcbe,
                 0 0 50px #b9bcbe,
                 0 0 700px #b9bcbe;
    white-space: normal;
    word-wrap: break-word;
}

.subtitle h2 {
    margin-top: 5rem;
    color: #c71585;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 0 5px #81528e,
                 0 0 10px #81528e,
                 0 0 30px #81528e,
                 0 0 50px #81528e,
                 0 0 700px #81528e;
}

/* Gif */
.game {
    display: flex;
    flex-direction: column; /* Para apilar los GIFs verticalmente */
    align-items: center; /* Centra los GIFs horizontalmente */
}

.gif {
    display: block;
    direction: ltr;
    height: auto;
}

.gif img {
    margin-top: 5rem;

    /* Hace que el GIF se ajuste al contenedor */
    /* Mantiene la proporción de la imagen */
}

.gif .mod1 {
   width: 223.438px; /* Ajusta el tamaño del primer GIF */
   height: 236.453px; /* Mantiene la proporción */
}

.gif .mod2 {
   height: 257.719px; /* Ajusta el tamaño del segundo GIF, más pequeño */
   width: 257.719px; /* Mantiene la proporción */

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #8f2295;
    font-size: 1.5rem;
    transition: .5s;
    overflow: hidden;
}

a:hover {
    background-color: #ac46a5;
    color: #050801;
    box-shadow: 0 0 5px #9d40d7,
                0 0 25px #d74edc,
                0 0 50px #c743db,
                0 0 300px #a545a2;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* Efecto de borde animado para los enlaces */
span {
    position: absolute;
    display: block;
}

span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #b84cbc);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #b84cbc);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #b84cbc);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #b84cbc);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    }
}

@media (max-width: 930px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .container {
        display: flex;
        flex-direction: column; /* Cambiado para apilar elementos en pantallas pequeñas */
        justify-content: center; /* Centra los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        margin-top: 9rem;
    }

    .subtitle {
        margin-top: 0;
    }

    .title-neon h2 {
        margin-left: 0;
        font-size: 3em; /* Ajusta el tamaño para pantallas más pequeñas */
    }

    .autor h1 {
        font-size: 20px; /* Ajusta el tamaño del autor para pantallas pequeñas */
    }

    a {
        font-size: 1.2rem; /* Ajusta el tamaño del botón para pantallas pequeñas */
        padding: 20px; /* Ajusta el padding para pantallas pequeñas */
    }

    .gif .mod1,
    .gif .mod2 {
        margin-top: 5rem;
        height: 190px;
        width: 190px;
    }   

    .gif{
        display: flex;
    }
    
    .wrapper{
        margin-bottom: 10rem;
        
    }

    a{
        background-color: #ac46a5;
    color: #050801;
    box-shadow: 0 0 5px #9d40d7,
                0 0 25px #d74edc,
                0 0 50px #c743db,
                0 0 300px #a545a2;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
}
